@import "tailwindcss";
@plugin "daisyui";

.development-title {
  background: linear-gradient(to right, #F97316,#D81B7E, #7C3AED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dotted{
  border:1px dotted gray;
}